# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.venv/
venv/

# Jupyter
.ipynb_checkpoints

# VS Code
.vscode/

# Sistema
.DS_Store
Thumbs.db

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
crash.log
terraform.tfvars

# Logs
*.log

# Arquivos temporários
*.swp
*.bak
*.tmp
terraform/sprint7-key.pem
.env
bot_telegram/src/.env
